.personalArea{
    display: flex;
}
.personalArea_user{
    
    margin-right: 50px;
    img{
        margin-bottom: 10px;
        width: 250px;
        height: 250px;
    }
    div{
        margin-bottom: 10px;
    }
}

.btn_del_Contact{
    width: auto;
    height: 40px;

}

td{

   padding: 20px;
   padding-left: 0px;
   div{
    
    margin: 10px;
    font-size: 20px;
    height: 40px;
   }
}


