.personalArea{
    display: flex;
}
.personalArea_user{
    margin-right: 50px;
    img{
        margin-bottom: 10px;
        width: 250px;
        height: 250px;
        border-radius: 10px;
    }
    div{
        margin-bottom: 10px;
    }
}

.put_panel_Input{
    width: 100%;
}

.put_panel{
    width: 100%;
}

.btn_del_Contact{
    width: auto;
    height: 40px;

}

th{
    min-width: 200px;
}

td{
   padding: 20px;
   padding-left: 0px;
   div{
    text-align: center;
    margin: 10px;
    font-size: 20px;
    height: 40px;
   }
}

.personalArea_contacts{
    display: flex;
    flex-direction: column;
}

.personalArea_Contacts_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    height: fit-content;
    
    & > div{
        word-break:break-all;
        width: 33%;
        height: 100%;
        z-index: 100;
        text-align: center;

    }

}


