.search_panel_form{
    input{
        width: 78.75%;
        background: rgb(176, 177, 158);
    }
    button{
        width: 21.25%;
        height: 10%;
        padding: 4px;
    }
}

.search_panel{
    margin-bottom: 10px;
}